body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.DropdownMenu1 .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
   color: #FF5500;
   text-align: left;
   text-transform: none;
}
#DropdownMenu1, .DropdownMenu1 .nav, .DropdownMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.DropdownMenu1 .nav:before,
.DropdownMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .nav:after 
{
   clear: both;
}
.DropdownMenu1 .nav a 
{
   text-decoration: none;
}
.DropdownMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.DropdownMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.DropdownMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.DropdownMenu1 .container:before,
.DropdownMenu1 .container:after 
{
   content: " ";
   display: table;
}
.DropdownMenu1 .container:after 
{
   clear: both;
}
.DropdownMenu1 .collapse 
{
   display: none;
}
.DropdownMenu1 .collapse.show 
{
   display: block;
}
.DropdownMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.DropdownMenu1 .caret, .DropdownMenu1 .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.DropdownMenu1 .dropdown 
{
   position: relative;
}
.DropdownMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.DropdownMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 19px;
   background-color: rgba(246,246,246,0.80);
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.DropdownMenu1 .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.DropdownMenu1 .dropdown-menu > li > a
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #FF5500;
   text-transform: none;
   white-space: nowrap;
}
.DropdownMenu1 .dropdown-menu > li > a:hover,
.DropdownMenu1 .dropdown-menu > li > a:focus 
{
   text-decoration: none;
   color: #FF5500;
   background-color: rgba(237,237,237,0.80);
   background-image: none;
}
.DropdownMenu1 .dropdown-menu > li > a.active,
.DropdownMenu1 .dropdown-menu > li > a.active:hover,
.DropdownMenu1 .dropdown-menu > li > a.active:focus
{
   color: #FF5500;
   background-color: rgba(237,237,237,0.80);
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.DropdownMenu1 .show > .dropdown-menu
{
   display: block;
}
.DropdownMenu1 .show > a
{
   outline: 0;
}
.DropdownMenu1 .dropdown-header
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.DropdownMenu1 .dropdown-backdrop
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.DropdownMenu1 .nav > li 
{
   position: relative;
   display: block;
}
.DropdownMenu1 .nav > li > a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.DropdownMenu1 .nav .show > a,
.DropdownMenu1 .nav .show > a:hover,
.DropdownMenu1 .nav .show > a:focus
{
    border-color: #FFFFFF;
}
.DropdownMenu1 .nav .nav-divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #FFFFFF;
}
.DropdownMenu1 .nav .caret
{
   border-top-color: #FFFFFF;
   border-bottom-color: #FFFFFF;
}
.DropdownMenu1
{
   position: relative;
}
.DropdownMenu1:before,
.DropdownMenu1:after
{
   content: " ";
   display: table;
}
.DropdownMenu1:after
{
   clear: both;
}
.DropdownMenu1 .navbar-header:before,
.DropdownMenu1 .navbar-header:after
{
   content: " ";
   display: table;
}
.DropdownMenu1 .navbar-header:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.DropdownMenu1-navbar-collapse:before,
.DropdownMenu1-navbar-collapse:after
{
   content: " ";
   display: table;
}
.DropdownMenu1-navbar-collapse:after
{
   clear: both;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 12px 10px 11px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.DropdownMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.DropdownMenu1 .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.DropdownMenu1 .navbar-nav
{
   margin: 6px -15px;
}
.DropdownMenu1 .navbar-nav > li > .dropdown-menu
{
   margin-top: 0;
}
.DropdownMenu1 .navbar-nav > li > a
{
   color: #FF5500;
}
.DropdownMenu1 .navbar-nav > li > a:hover,
.DropdownMenu1 .navbar-nav > li > a:focus
{
   background-color: rgba(237,237,237,0.80);
   background-image: none;
   color: #FF5500;
   text-decoration: none;
}
.DropdownMenu1 .navbar-nav > li > a.active,
.DropdownMenu1 .navbar-nav > li > a.active:hover,
.DropdownMenu1 .navbar-nav > li > a.active:focus
{
   color: #FF5500;
   background-color: rgba(237,237,237,0.80);
   background-image: none;
}
.DropdownMenu1 .navbar-toggle
{
   border: 1px solid transparent;
}
.DropdownMenu1 .navbar-toggle:hover,
.DropdownMenu1 .navbar-toggle:focus
{
   background-color: transparent;
}
.DropdownMenu1 .navbar-toggle .icon-bar
{
   background-color: #FF5500;
}
.DropdownMenu1-navbar-collapse
{
   border-color: rgba(255,255,255,0.00);
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu1 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .show > a,
.DropdownMenu1 .navbar-nav > .show > a:hover,
.DropdownMenu1 .navbar-nav > .show > a:focus
{
   background-color: rgba(237,237,237,0.80);
   background-image: none;
   color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .show > a .caret,
.DropdownMenu1 .navbar-nav > .show > a:hover .caret,
.DropdownMenu1 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-link
{
   color: #FF5500;
}
.DropdownMenu1 .navbar-link:hover
{
   color: #FF5500;
}
.DropdownMenu1 .navbar-header
{
   color: #FF5500;
}
@media (min-width: 768px) 
{
.DropdownMenu1 .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.DropdownMenu1 .navbar-header
{
   float: left;
}
.DropdownMenu1-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.DropdownMenu1-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.DropdownMenu1-navbar-collapse.show
{
   overflow-y: auto;
}
.DropdownMenu1 .navbar-toggle
{
   display: none;
}
.DropdownMenu1 .navbar-nav
{
   float: left;
   margin: 0;
}
.DropdownMenu1 .navbar-nav > li
{
   float: left;
}
.DropdownMenu1 .container > .navbar-header,
.DropdownMenu1 .container > .DropdownMenu1-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret,
.DropdownMenu1 .navbar-nav > .dropdown > a:focus .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
}
@media (max-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(254,254,254,0.00);
}
.DropdownMenu1 .navbar-nav
{
   margin: 0;
   background-color: rgba(246,246,246,0.80);
   background-image: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu > li > a,
.DropdownMenu1 .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 25px;
}
.DropdownMenu1 .navbar-nav .show .dropdown-menu > li > a
{
   line-height: 20px;
}
}
@media (min-width: 768px) 
{
.DropdownMenu1 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(254,254,254,0.00);
   border-radius: 0px;
}
.DropdownMenu1 .navbar-nav > li > a
{
   color: #FF5500;
}
.DropdownMenu1 .navbar-nav > li > a:hover,
.DropdownMenu1 .navbar-nav > li > a:focus
{
   color: #FF5500;
   background-color: rgba(211,211,211,0.80);
   background-image: none;
}
.DropdownMenu1 .navbar-nav > li > a.active,
.DropdownMenu1 .navbar-nav > li > a.active:hover,
.DropdownMenu1 .navbar-nav > li > a.active:focus
{
   color: #FF5500;
   background-color: rgba(211,211,211,0.80);
   background-image: none;
}
.DropdownMenu1 .navbar-nav > .show > a,
.DropdownMenu1 .navbar-nav > .show > a:hover,
.DropdownMenu1 .navbar-nav > .show > a:focus
{
   background-color: rgba(211,211,211,0.80);
   background-image: none;
   color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .dropdown > a:hover .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .dropdown > a .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-nav > li > a.active > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:hover > .caret,
.DropdownMenu1 .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-nav > .show > a .caret,
.DropdownMenu1 .navbar-nav > .show > a:hover .caret,
.DropdownMenu1 .navbar-nav > .show > a:focus .caret
{
   border-top-color: #FF5500;
   border-bottom-color: #FF5500;
}
.DropdownMenu1 .navbar-link
{
   color: #FF5500;
}
.DropdownMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#DropdownMenu1 i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_DropdownMenu1
{
   z-index: 1111 !important;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 940px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/cosmic%2dbackground%2dwith%2ddark%2dlight%2dblue%2dlaser%2dlights%2dperfect%2ddigital%2dwallpaper_181624%2d23690.jpg');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('images/cosmic%2dbackground%2dwith%2ddark%2dlight%2dblue%2dlaser%2dlights%2dperfect%2ddigital%2dwallpaper_181624%2d23690.jpg');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 20px 0 ;
   padding: 0;
   text-align: center;
}
#Heading1
{
   color: #FD5927;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Banner1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   color: #FF5500;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   text-decoration: none;
   text-align: left;
   text-shadow: 1px 1px 0px rgba(255,255,255,1.00);
   margin: 0;
}
#Banner1 span
{
   display: block;
   height: 24px;
   margin: 75px 0 0 0 ;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1200px;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
